<div class="folding-panel {{if panel.foldIsOpen 'is-open'}}">

  <div class="fold-left"></div>
  <!-- this is the left fold -->

  <div class="fold-right"></div>
  <!-- this is the right fold -->

  <div class="fold-content single-page">
    <h2>{{selected.panelHeading}}</h2>
    <em>{{selected.panelSubheading}}</em>
    {{selected.panelInfo}}
  </div>

{{close-button}}
</div>
